@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,500);
body {
    font: 100% Open Sans, Freesans, sans-serif;
    background: #2c3338;
}

.login-wrapper {
    margin: 80px auto;
    width: 325px;
}

.tituloLogin {
    color: #dedede;
    font-size: 2.8em;
    font-weight: normal;
    letter-spacing: -1px;
    font-family: Roboto;
}

tituloLogin span {
    font-weight: 500;
    letter-spacing: -1px;
}

.formInput {
    border: none;
    margin: 0;
}

form .input-row {
    margin: 2em 0;
    overflow: hidden;
}

form .icon {
    font-size: 1.4em;
    background: #ffffff;
    padding: 0.8em;
    border-left: 4px solid #ea4c88;
    color: #9f9f9f;
    float: left;
}

.input-text,
.input-passwd {
    padding: 0.8em 0.8em 0.8em 0;
    font-size: 1.4em;
    color: #c2c2c2;
    width: 275px;
}

.input-text:focus,
.input-passwd:focus {
    outline: 0;
}

.btn-login {
    border: none;
    background: #ea4c88;
    color: #ffffff;
    font-size: 1.6em;
    padding: 0.7em 1.2em;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
    -moz-transition: opacity 0.5s ease-in-out;
    -webkit-transition: opacity 0.5s ease-in-out;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

.btn-login:hover {
    background: #c62a65;
    opacity: 0.8;
}

form .reset {
    margin-left: 1em;
    color: #ffffff;
    font-size: 1.4em;
}

form .reset a {
    color: #ffffff;
}

form .reset a:hover {
    text-decoration: none;
}
